body {
    background: #1A1A1A;
    text-align: center;
}

.editor {
    display: flex;
    flex-direction: row;
    background: #333333;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 800px;
    margin: auto;
}

#codespace {
    margin: 1em;
    margin-top: 1.5em;
    text-align: left;
    overflow: scroll;
    width: 100%;
    cursor: text;
    overflow-x: scroll;
    white-space: nowrap;
}

#codespace > p {
    margin: 0;
    height: 1.15em;
}

/* .selected {
    box-shadow: 0px 0px 10px #777777;
} */

#lineNumber {
    color: #777777;
    width: 1em;
    padding-top: 1.5em;
    padding-left: 1em;
    height: 1.15em;
}

#cursor {
    width: 1.5px;
    /* height: 1em; */
    height: 0.8em;
    background: rgb(200, 200, 200);
    display: inline-block;
    margin-left: 2px;
}

#modal {
    /* display: none; */
    background: white;
    float: left;
    position: absolute;
    width: 20em;
    min-height: 300px;
    transition: 0.2s;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.visible {
    display: block;
    /* visibility: visible;
    opacity: 1;
    transition: opacity 0.1s linear; */
}

.hidden {
    display: none;
    /* visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.1s, opacity 0.1s linear; */
}